<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta charset="utf-8"> 
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" crossorigin="anonymous">

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>

	<link rel="stylesheet" type="text/css" href="./css/header.css">
	<link rel="stylesheet" type="text/css" href="./css/page-gym.css">
	<link rel="stylesheet" type="text/css" href="./css/page-gym--media.css">
	<!-- <link rel="stylesheet" type="text/css" href="./css/style--media.css"> -->



</head>
<body>
<div id="main-page">
	<div class="main--header d-flex justify-between mb-auto">
		<nav class="navbar navbar-default w-100 bg-none border-0 d-flex align-items-center">
		    <!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
			  
			  <a class="navbar-brand" href="#"><img src="./images/logo.png"/></a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="navbar-collapse my-auto w-100">

			  <div class="d-flex align-items-center navbar-collapse--cont" >
			    <div class="mx-auto gym-address">
			    	Тренажерный зал<br/>
			    	на {{item.address}}
			    	
			    </div>

				<div class="header--image">
			      <img src="./images/big_img.png">
			    </div>
			  </div>
			</div><!-- /.navbar-collapse -->
		</nav>
	</div>
	<div class="main--body d-flex">
		<div class="body--gym--info d-flex w-100">
			<div class="w-25" v-for="info in item.btnInfo">
				<div class="gym--info--btn" v-bind:class="'btn-'+info.type">
					<div><div class="icon-circle mx-auto"></div></div>
					<div class="text">{{info.text}}</div>

				</div>
			</div>
		</div>
		<div class="cont-gallery">
			
		</div>
		<div class="table-info">
			<div class="table-info--item" v-for="info in item.tableInfo">
				<div class="table-info--cont">

					<div class="text-red">{{info.textRed}}</div>
					<div class="text-white">{{info.textWhite}}</div>
				</div>
			</div>
		</div>
		<div class="schedule">
			<div class="schedule--title">График работы:</div>
			<div class="schedule--time text-white">Понедельник-суббота {{item.timeWork[0]}}</div>
			<div class="schedule--time text-white">Воскресение {{item.timeWork[0]}}</div>
		</div>
		<div class="price">
			<div class="price--btn">
				<span class="text-black">цены</span>
				<span class="text-white">Просмотреть прайс</span>
			</div>
		</div>
		<div class="maps" id="maps"></div>
	</div>

	<div class="main--footer mt-auto">
		Сеть спортклубов Ironman, Симферополь, 2016-2018
	</div>

	
</div>
<script type="text/javascript" src="./js/gym-script.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function (){
        $(".btn-address").click(function (){
            $('html, body').animate({
                scrollTop: $("#maps").offset().top
            }, 1000);
        });
    });
</script>
</body>
</html>
