@font-face {
    font-family: DinDisplay;
    src: url(./fonts/PF_DinDisplay_Pro.ttf);
}
body {
	background-color: #000004 !important;
	color: #838588;
font-family: DinDisplay, Geneva, Arial, Helvetica, sans-serif;

}

a:hover {
	/*color: inherit;*/
}




#main {
	max-width: 1530px;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	min-height: 100vh;
	max-height: 100vh;
	display: flex;
	flex-flow: column;
	font-size: 21px;
	line-height: 33px
}


.main--header {
	flex:1;
	max-height: 240px;
	align-items: center;
}

.main--header .navbar-toggle{
	background-color: inherit !important;
	border: none;
}

.d-flex {
	display: flex;
}


.justify-between {
	/*justify-content: flex-start | flex-end | center | space-between | space-around | space-evenly;*/
	justify-content: space-between;
}

.align-items-center{align-items: center;}
.text-red {
	color: #f35840;
}
a.text-red:hover {
	
}



.text-decoration-none {text-decoration: none;}

.icon-circle {
	width: 33px;
	height: 33px;
	border-radius: 50%;
	color: #000000;
	display: block;
}
.icon-circle img {
	max-height: 100%;
	max-width: 100%;
}
.bg-red{
	background-color: #f35840;
}
.bg-grey {
	background-color: #838588
}
.text-grey {color: #838588}

.text-black {
	color: #000000;
}
.header--phone {
	padding: 
}

.header--phone .icon-circle {
	margin-right: 10px
}
.w-100 {
	width: 100%;
}
.mx-auto {
	margin-left: auto;
	margin-right: auto;
}
.mt-auto {
	margin-top: auto;
}
.mb-auto {
	margin-bottom: auto;
}

.bg-none {
	background: inherit !important;
}
.border-0 {
	border: none !important
}

.main--header .navbar{
	box-shadow: none !important;
	margin-bottom: 0;

	padding-top: 15px;
	padding-bottom: 15px;

}

.main--header .navbar-brand {
	height: inherit;
}
.main--footer {
	padding-top: 20px;
	padding-bottom: 20px;
	color: #838588;
	padding-left: 15px
}

.item-gym--photo{
	width: 100%;
	max-height: 268px;
	height: auto;
	/*width: 242px;*/
	flex: 1;
}

.item-gym--photo img {
	max-width: 100%;
	max-height: 100%
}
.item-gym {
	height: 100%;
	/*margin-bottom: 15px;*/
	display: flex;
	flex-direction: column;
}
.main--body {
	flex-wrap: wrap;
	flex: 1 ;
}
.flex-wrap{flex-wrap: wrap;}

.item-gym--info {
	padding-top: 25px;
	padding-bottom: 20px;
}
.item-gym--info > div {
	padding-bottom: 5px;
}

.item-gym--info--address{
	min-width: 225px;
	padding-bottom: 5px;
}
.item-gym--info--address .icon-circle{
	margin-right: 10px;
}
.item-gym--info--soc .icon-circle {
	margin-right: 5px;
}
.todo {
	/*flex: 1 0;*/
	width: 100%;
	display: flex;
}
.todo--item {
	padding-bottom: 15px
}